<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title><%= title %></title>
     <!-- CSS Section -->
    <link rel="stylesheet" href="/bootstrap/dist/css/bootstrap.min.css">
    <link rel="stylesheet" href="/@fortawesome/fontawesome-free/css/all.min.css">
    <link rel='stylesheet' href='/stylesheets/style.css' />
    
    <!-- Includes for JS files -->
    <script src="/jquery/dist/jquery.slim.js"></script>
    <!-- might be popper -->
    <script src="/bootstrap/dist/js/bootstrap.min.js"></script>

  </head>