<%- include("../partials/header.ejs") %>
<%- include("../partials/loggedInNav.ejs") %>

<div class="mt-5">
    <br>
</div>

<div class="mt-5">
    <section class="jumbotron text-center text-light">
        <div class="container">
          <h1>Welcome to the Java Site</h1>
          <p class="lead">Hello <span class="text-danger">Peter</span>, I started this site at your request.  I will also be using this to record some of the stuff that I learn along the way to get my diploma.  Enjoy!</p>
          <p class="">Also I will be adding in some other features to test them out and this just seems like a good place to do it.</p>
          <p class="">The button is not working I am considering if it is worth while to create a github account just for this site because I done think that there is enough code here.</p>
          <p>
            <a id="toGit" href="#" class="btn btn-primary my-2">To Github</a>
          </p>
        </div>
    </section>

    <div class="container">
        <hr class="text-warning">
    </div>
</div>
