<%- include("../partials/header.ejs") %>
<%- include("../partials/mainNav.ejs") %>

<div class="mt-5">
    <div class="mt-5 py-5">
        <div class="container m7-5">
            <div class="row my-5 py-5">
                <div class="col-5">
                    <img class="rounded-lg-3 shadow-lg" src="/images/developer.jpg" alt="developer" width="100%" height="500">
                </div>            
                <div class="col-7 px-5">
                    <form class="form" method="POST" action="/login">
                        <div class="card-body">
                            <h5 class="card-title display-3">Login</h5>
                            <hr class="text-warning">
                            <div class="form-group mt-4">
                                <label class="text-warning mt-4" for="nameTextField">Username</label>
                                <input type="text" class="form-control bg-black text-light"
                                id="nameTextField"
                                placeholder="Enter User Name"
                                name="username" required>
                            </div>
        
                            <div class="form-group mt-4">
                                <label class="text-warning" for="nameTextField">Password</label>
                                <input type="password" class="form-control bg-black text-light"
                                id="passwordTextField"
                                placeholder="Enter User Password"
                                name="password" required>
                            </div>
        
                            <div class="mt-5">
                                <button class="btn btn-warning mt-5" type="submit">
                                    <i class="fas fa-edit"></i> Login</button>
                            </div>
                            
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>