<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="Stephen using Bootstrap">
    <title>Lesson 1</title>
    <link rel="stylesheet" href="./node_modules/bootstrap/dist/css/bootstrap.min.css">

    <style>
      .bd-placeholder-img {
        font-size: 1.125rem;
        text-anchor: middle;
        -webkit-user-select: none;
        -moz-user-select: none;
        -ms-user-select: none;
        user-select: none;
      }

      @media (min-width: 768px) {
        .bd-placeholder-img-lg {
          font-size: 3.5rem;
        }
      }
    </style>
    <!-- Custom styles for this template -->
    <link href="jumbotron.css" rel="stylesheet">
  </head>
  <body>
    <div class="jumbotron">
        <div class="container">
          <h1 class="display-3">Creating the Project</h1>
          <p>&nbsp&nbspWhat we covered in this class was some of the basics.  We use Eclipse as our IDE.  Then we created 2 classes one for main to work with and a driver class that would hold the main.</p>
          <p><a class="btn btn-primary btn-lg" href="#" role="button">Learn more &raquo;</a></p>
        </div>
      </div>
     
      <div class="container">
        <hr>
        <img src="../Assets/create_java.png" class="img-fluid" alt="create class">
        <hr>
        &nbsp&nbspAssuming that the Eclipse is installed along with the latest version of java we can create a project.
        To create a project use the drop downs at the top and select new java project.
        Fill in the basic information and we can click to start the project.
        At some point we get a menu window that asks for the name of a package we want one of these everything else keep how it is.
        <hr>
        <h2>The Essentials</h2>
        <img src="../Assets/driver_class.png" class="img-fluid" alt="main setup">
        &nbsp&nbspThere is no point in taking it slow.  Java is easy and you will probably know how variables and loops work.  The essential are the main driver class and its other classes.
        Think that the driver class is just the class that has the main in it.
        Any other class is just there to store information
        <img src="../Assets/class_setup.png" class="img-fluid" alt="Responsive image">
        &nbsp&nbspThen just like the driver class that we just created we can create another class.  In the file drop down you select new and work you way down to class.
        With this added you can create whatever type of class you wish.
        These are storage containers that variables and methods are tied to.
        Make not of where the public and static keywords are they are important.
        <hr>

      </div>
    </div> <!-- /container -->

    <footer class="container">
        <p>&copy; Powered by Coffee 2020</p>
      </footer>
      <script src="./node_modules/jquery/dist/jquery.min.js"></script>
      </body>
</html>
    
