<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="Stephen using Bootstrap">
    <title>Lesson 1</title>
    <link rel="stylesheet" href="./node_modules/bootstrap/dist/css/bootstrap.min.css">

    <style>
      .bd-placeholder-img {
        font-size: 1.125rem;
        text-anchor: middle;
        -webkit-user-select: none;
        -moz-user-select: none;
        -ms-user-select: none;
        user-select: none;
      }

      @media (min-width: 768px) {
        .bd-placeholder-img-lg {
          font-size: 3.5rem;
        }
      }
    </style>
    <!-- Custom styles for this template -->
    <link href="jumbotron.css" rel="stylesheet">
  </head>
  <body>
    <div class="jumbotron">
        <div class="container">
          <h1 class="display-3">Object Orientation</h1>
          <p>&nbsp&nbspSo here we are at lesson 2.  This is a bit more advanced as last week was pretty boring.  Lets get into a bit more of what this language is about.  Object orientation is \
            a very important concept, so be sure to pay close attention.
          </p>
          <p><a class="btn btn-primary btn-lg" href="#" role="button">to home &raquo;</a></p>
        </div>
      </div>
      <div class="container">
        <hr>
        <img src="./Assets/super-class.png" class="img-fluid" alt="create class">
        <hr>
        &nbsp&nbspOk so look at this class.  Pretty simple.  So what if we wanted to make another version of this class that 
        was a bit different but still kind of the same.  This is what inheritance is.  If you look at the class just below this you will see that 
        we take the existing class and add to it to make it more complicated.  Think of it as lets say a hambuger then it can become a cheese burger.  
        The same but with more stuff added to it.
        <hr>
        <img src="./Assets/sub-class.png" class="img-fluid" alt="create class">
        <hr>
        <h2>Methods</h2>
        <hr>
        <img src="./Assets/regular_override.png" class="img-fluid" alt="create class">
        <hr>
        &nbsp&nbspWith every class there is the potential to create methods that go with it.  For now methods are just functions that are used to perform operations for the class. 
        With that description there is no real point to have it part of the class.  To make this different we can override them to make the code more organized.  In the picture above 
        we take a method and make some changes to it to have it work a bit differently just like we did with the classes.  This is method overriding.
        <hr>
        <img src="./Assets/override_toString.png" class="img-fluid" alt="create class">
        <hr>
        &nbsp&nbspThe above code snippet is a bit different.  You may have noticed the System.out.println stuff.  This is a method that is built into the language in some module 
        The toString method is much like this.  These are also overridable.  When we do this, this is how we do it, with the @ symbol.  The rest is the same.  The importance here is one that 
        you can do this but that with the toString you can then make it very easy to format stuff and print it in various places.  See if you can figure out ways.  Next lesson I will explain this more.
    </div> <!-- /source above -->

    <footer class="container">
        <p>&copy; Powered by Coffee 2020</p>
    </footer>
      <script src="./node_modules/jquery/dist/jquery.min.js"></script>
      <script src=""
      </body>
</html>