<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="Stephen using Bootstrap">
    <title>Lesson 1</title>
    <link rel="stylesheet" href="./node_modules/bootstrap/dist/css/bootstrap.min.css">

    <style>
      .bd-placeholder-img {
        font-size: 1.125rem;
        text-anchor: middle;
        -webkit-user-select: none;
        -moz-user-select: none;
        -ms-user-select: none;
        user-select: none;
      }

      @media (min-width: 768px) {
        .bd-placeholder-img-lg {
          font-size: 3.5rem;
        }
      }
    </style>
    <!-- Custom styles for this template -->
    <link href="jumbotron.css" rel="stylesheet">
  </head>
  <body>
    <div class="jumbotron">
        <div class="container">
          <h1 class="display-3">Creating the Project</h1>
          <p>&nbps&nbpsWhat we covered in this class was some of the basics.  We use Eclipse as our IDE.  Then we created 2 classes one for main to work with and a driver class that would hold the main.</p>
          <p><a class="btn btn-primary btn-lg" href="#" role="button">Learn more &raquo;</a></p>
        </div>
      </div>
      <hr>


    </div> <!-- /source above -->

    <footer class="container">
        <p>&copy; Powered by Coffee 2020</p>
      </footer>
      <script src="./node_modules/jquery/dist/jquery.min.js"></script>
      </body>
</html>