
   <form class="form-signin">
    <img class="mb-4" src="./Assets/JavaLogo.png" alt="java logo" width="72" height="72">
    <h1 class="h3 mb-3 font-weight-normal">Please sign in</h1>
    <label for="inputEmail" class="sr-only">First Name</label>
    <input type="text" id="inputEmail" class="form-control" placeholder="First Name" required autofocus>
    <label for="inputPassword" class="sr-only">Password</label>
    <input type="text" id="inputPassword" class="form-control" placeholder="Password" required>
    <div class="checkbox mb-3">
          <br>
    <label>
      <input id="isteve" type="checkbox" value="remember-me"> I Love Steve
    </label>
    </div>
    <button class="btn btn-lg btn-primary btn-block" type="submit">Sign in</button>
    <p class="mt-5 mb-3 text-muted">&copy; 2020</p>
</form>